# system:
**Role**: "Your task is to translate the input data to English while preserving the original format."

**Notes**: "The input will be structured as follows: '''{
        "user_type": "<Role>",
        "message_type": "<Type>",
        "content": "<Content>",
      },
      {
        "user_type": "<Role>",
        "message_type": "<Type>",
        "content": "<Content>"
      },etc...'''"

user:
{{line_log}}